CES.CoreApi.Receipt_Main/CES.CoreApi.Receipt_Main.DemoWpfLoadLocalDb/DemoWpfLoadLocalDb/Xml/NotaDeDebito/NotaDeDebito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sii.cl/SiiDte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="EnvioDTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SetDTE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Caratula">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RutEmisor" type="xs:string" />
                    <xs:element name="RutEnvia" type="xs:string" />
                    <xs:element name="RutReceptor" type="xs:string" />
                    <xs:element name="FchResol" type="xs:date" />
                    <xs:element name="NroResol" type="xs:unsignedByte" />
                    <xs:element name="TmstFirmaEnv" type="xs:dateTime" />
                    <xs:element name="SubTotDTE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TpoDTE" type="xs:unsignedByte" />
                          <xs:element name="NroDTE" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="version" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DTE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Documento">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Encabezado">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IdDoc">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TipoDTE" type="xs:unsignedByte" />
                                      <xs:element name="Folio" type="xs:unsignedByte" />
                                      <xs:element name="FchEmis" type="xs:date" />
                                      <xs:element name="FmaPago" type="xs:unsignedByte" />
                                      <xs:element name="MntPagos">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="FchPago" type="xs:date" />
                                            <xs:element name="MntPago" type="xs:unsignedInt" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="FchVenc" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Emisor">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RUTEmisor" type="xs:string" />
                                      <xs:element name="RznSoc" type="xs:string" />
                                      <xs:element name="GiroEmis" type="xs:string" />
                                      <xs:element name="Acteco" type="xs:unsignedInt" />
                                      <xs:element name="DirOrigen" type="xs:string" />
                                      <xs:element name="CmnaOrigen" type="xs:string" />
                                      <xs:element name="CiudadOrigen" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Receptor">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RUTRecep" type="xs:string" />
                                      <xs:element name="RznSocRecep" type="xs:string" />
                                      <xs:element name="GiroRecep" type="xs:string" />
                                      <xs:element name="CorreoRecep" type="xs:string" />
                                      <xs:element name="DirRecep" type="xs:string" />
                                      <xs:element name="CmnaRecep" type="xs:string" />
                                      <xs:element name="CiudadRecep" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Totales">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MntNeto" type="xs:unsignedInt" />
                                      <xs:element name="MntExe" type="xs:unsignedByte" />
                                      <xs:element name="TasaIVA" type="xs:unsignedByte" />
                                      <xs:element name="IVA" type="xs:unsignedShort" />
                                      <xs:element name="MntTotal" type="xs:unsignedInt" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Detalle">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NroLinDet" type="xs:unsignedByte" />
                                <xs:element name="NmbItem" type="xs:string" />
                                <xs:element name="QtyItem" type="xs:unsignedByte" />
                                <xs:element name="PrcItem" type="xs:unsignedInt" />
                                <xs:element name="MontoItem" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Referencia">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NroLinRef" type="xs:unsignedByte" />
                                <xs:element name="TpoDocRef" type="xs:unsignedByte" />
                                <xs:element name="FolioRef" type="xs:unsignedShort" />
                                <xs:element name="FchRef" type="xs:date" />
                                <xs:element name="CodRef" type="xs:unsignedByte" />
                                <xs:element name="RazonRef" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TED">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DD">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RE" type="xs:string" />
                                      <xs:element name="TD" type="xs:unsignedByte" />
                                      <xs:element name="F" type="xs:unsignedByte" />
                                      <xs:element name="FE" type="xs:date" />
                                      <xs:element name="RR" type="xs:string" />
                                      <xs:element name="RSR" type="xs:string" />
                                      <xs:element name="MNT" type="xs:unsignedInt" />
                                      <xs:element name="IT1" type="xs:string" />
                                      <xs:element name="CAF">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="DA">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="RE" type="xs:string" />
                                                  <xs:element name="RS" type="xs:string" />
                                                  <xs:element name="TD" type="xs:unsignedByte" />
                                                  <xs:element name="RNG">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="D" type="xs:unsignedByte" />
                                                        <xs:element name="H" type="xs:unsignedByte" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="FA" type="xs:date" />
                                                  <xs:element name="RSAPK">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="M" type="xs:string" />
                                                        <xs:element name="E" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="IDK" type="xs:unsignedShort" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="FRMA">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="algoritmo" type="xs:string" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="version" type="xs:decimal" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="TSTED" type="xs:dateTime" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="FRMT">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="algoritmo" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="version" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TmstFirma" type="xs:dateTime" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
                  </xs:sequence>
                  <xs:attribute name="version" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Personalizados">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DocPersonalizado">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Impresion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Personalizado_01" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ImpresionDetalle">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PersonNroLinDet" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="dteID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema><?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Signature">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SignedInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CanonicalizationMethod">
                <xs:complexType>
                  <xs:attribute name="Algorithm" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="SignatureMethod">
                <xs:complexType>
                  <xs:attribute name="Algorithm" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Reference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Transforms">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Transform">
                            <xs:complexType>
                              <xs:attribute name="Algorithm" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DigestMethod">
                      <xs:complexType>
                        <xs:attribute name="Algorithm" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DigestValue" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="URI" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SignatureValue" type="xs:string" />
        <xs:element name="KeyInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KeyValue">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RSAKeyValue">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Modulus" type="xs:string" />
                          <xs:element name="Exponent" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="X509Data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="X509Certificate" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>