CES.CoreApi.Receipt_Main/CES.CoreApi.Receipt_Main.DemoWpfLoadLocalDb/DemoWpfLoadLocalDb/Xml/Boleta/Boleta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sii.cl/SiiDte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="EnvioBOLETA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SetDTE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Caratula">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RutEmisor" type="xs:string" />
                    <xs:element name="RutEnvia" type="xs:string" />
                    <xs:element name="RutReceptor" type="xs:string" />
                    <xs:element name="FchResol" type="xs:date" />
                    <xs:element name="NroResol" type="xs:unsignedByte" />
                    <xs:element name="TmstFirmaEnv" type="xs:dateTime" />
                    <xs:element name="SubTotDTE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TpoDTE" type="xs:unsignedByte" />
                          <xs:element name="NroDTE" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="version" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DTE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Documento">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Encabezado">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IdDoc">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TipoDTE" type="xs:unsignedByte" />
                                      <xs:element name="Folio" type="xs:unsignedInt" />
                                      <xs:element name="FchEmis" type="xs:date" />
                                      <xs:element name="IndServicio" type="xs:unsignedByte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Emisor">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RUTEmisor" type="xs:string" />
                                      <xs:element name="RznSocEmisor" type="xs:string" />
                                      <xs:element name="GiroEmisor" type="xs:string" />
                                      <xs:element name="CdgSIISucur" type="xs:unsignedInt" />
                                      <xs:element name="DirOrigen" type="xs:string" />
                                      <xs:element name="CmnaOrigen" type="xs:string" />
                                      <xs:element name="CiudadOrigen" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Receptor">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RUTRecep" type="xs:string" />
                                      <xs:element name="RznSocRecep" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Totales">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MntTotal" type="xs:unsignedShort" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Detalle">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NroLinDet" type="xs:unsignedByte" />
                                <xs:element name="NmbItem" type="xs:string" />
                                <xs:element name="QtyItem" type="xs:unsignedByte" />
                                <xs:element name="PrcItem" type="xs:unsignedShort" />
                                <xs:element name="MontoItem" type="xs:unsignedShort" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TED">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DD">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RE" type="xs:string" />
                                      <xs:element name="TD" type="xs:unsignedByte" />
                                      <xs:element name="F" type="xs:unsignedInt" />
                                      <xs:element name="FE" type="xs:date" />
                                      <xs:element name="RR" type="xs:string" />
                                      <xs:element name="RSR" type="xs:string" />
                                      <xs:element name="MNT" type="xs:unsignedShort" />
                                      <xs:element name="IT1" type="xs:string" />
                                      <xs:element name="CAF">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="DA">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="RE" type="xs:string" />
                                                  <xs:element name="RS" type="xs:string" />
                                                  <xs:element name="TD" type="xs:unsignedByte" />
                                                  <xs:element name="RNG">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="D" type="xs:unsignedInt" />
                                                        <xs:element name="H" type="xs:unsignedInt" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="FA" type="xs:date" />
                                                  <xs:element name="RSAPK">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="M" type="xs:string" />
                                                        <xs:element name="E" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="IDK" type="xs:unsignedShort" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="FRMA">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="algoritmo" type="xs:string" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="version" type="xs:decimal" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="TSTED" type="xs:dateTime" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="FRMT">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="algoritmo" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="version" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TmstFirma" type="xs:dateTime" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
                  </xs:sequence>
                  <xs:attribute name="version" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Personalizados">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DocPersonalizado">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="campoString">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="dteID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>